Repository harm-matthias-harms/rails-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: lint ruby, lint haml, lint js, lint css, i18n tasks

lint ruby:
  run: bundle exec rubocop --force-exclusion {staged_files}

lint haml:
  run: bundle exec haml-lint {staged_files}

lint js:
  run: yarn lint {staged_files}

lint css:
  run: yarn lint:css {stages_files}

i18n tasks:
  run: bundle exec i18n-tasks health

Cleanup storage config (#207)
  config/initializers/config.rb
  config/settings.yml
  config/storage.yml
Due: lint ruby

Add basic oauth config
  Gemfile
  Gemfile.lock
  app/models/user.rb
  config/initializers/config.rb
  config/initializers/devise.rb
Due: lint ruby, i18n tasks

Add identity model
  .active_record_doctor
  .database_consistency.yml
  app/models/identity.rb
  db/migrate/20230930051527_create_identities.rb
  db/schema.rb
  spec/factories/identity.rb
  spec/models/identity_spec.rb
Due: lint ruby, i18n tasks

Add SSO actor
  app/actors/user/single_sign_on.rb
  app/actors/user/sso/create_or_update_user.rb
  app/actors/user/sso/find_or_initialize_identity.rb
  app/actors/user/sso/unify_provider_data.rb
  spec/actors/user/single_sign_on_spec.rb
  spec/actors/user/sso/create_or_update_user_spec.rb
  spec/actors/user/sso/find_or_initialize_identity_spec.rb
  spec/actors/user/sso/unify_provider_data_spec.rb
Due: lint ruby, i18n tasks

Add sso fake data for test
  config/settings/test.yml
Due: none

Add omniauth callback controller
  app/actors/user/sso/create_or_update_user.rb
  app/actors/user/sso/find_or_initialize_identity.rb
  app/actors/user/sso/unify_provider_data.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  config/locales/helpers/en.yml
  config/routes.rb
  spec/requests/users/omniauth_callbacks_spec.rb
  spec/support/devise.rb
Due: lint ruby, i18n tasks

Add button to devise forms
  app/assets/images/sso/google_oauth2.png
  app/views/users/confirmations/new.html.haml
  app/views/users/passwords/edit.html.haml
  app/views/users/passwords/new.html.haml
  app/views/users/registrations/edit.html.haml
  app/views/users/registrations/new.html.haml
  app/views/users/sessions/new.html.haml
  app/views/users/shared/_links.html.haml
  config/locales/devise/en.yml
  config/locales/helpers/en.yml
Due: lint haml, i18n tasks

Make Service disconnect possible
  app/components/common/link_component.rb
  app/controllers/identities_controller.rb
  app/policies/identity_policy.rb
  app/views/users/registrations/edit.html.haml
  config/locales/devise/en.yml
  config/locales/helpers/en.yml
  config/routes.rb
  spec/components/common/link_component_spec.rb
  spec/policies/identity_policy_spec.rb
  spec/requests/errors_controller_spec.rb
  spec/requests/identities_controller_spec.rb
  spec/requests/users/omniauth_callbacks_controller_spec.rb
Due: lint ruby, lint haml, i18n tasks

Refactor some specs
  spec/requests/errors_controller_spec.rb
  spec/requests/home_controller_spec.rb
  spec/requests/users/omniauth_callbacks_controller_spec.rb
Due: lint ruby

Ignore unscoped find
  config/brakeman.ignore
Due: none

Disable rails credentials
  .github/workflows/build.yml
  .github/workflows/release.yml
  Dockerfile
  config/application.rb
  config/credentials.yml.enc
  config/initializers/config.rb
Due: lint ruby

Disable rails credentials (#219)
  .github/workflows/build.yml
  .github/workflows/release.yml
  Dockerfile
  config/application.rb
  config/credentials.yml.enc
  config/initializers/config.rb
Due: lint ruby

Fix docker build
  config/initializers/config.rb
Due: lint ruby

Fix docker build (#220)
  config/initializers/config.rb
Due: lint ruby

Add ahoy gem
  .database_consistency.yml
  Gemfile
  Gemfile.lock
  app/models/ahoy/event.rb
  app/models/ahoy/visit.rb
  app/models/user.rb
  config/initializers/ahoy.rb
  db/migrate/20231002054428_create_ahoy_visits_and_events.rb
  db/schema.rb
Due: lint ruby, i18n tasks

Add ahoy gem
  .active_record_doctor
Due: none

Add trackable concern
  app/controllers/application_controller.rb
  app/controllers/concerns/trackable.rb
  app/models/ahoy/event.rb
  spec/models/user_spec.rb
  spec/requests/application_controller_spec.rb
Due: lint ruby, i18n tasks

Improve ahoy implicit colum order
  app/models/ahoy/visit.rb
Due: lint ruby, i18n tasks

Add user tracking with ahoy (#221)
  .active_record_doctor
  .database_consistency.yml
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/concerns/trackable.rb
  app/models/ahoy/event.rb
  app/models/ahoy/visit.rb
  app/models/user.rb
  config/initializers/ahoy.rb
  db/migrate/20231002054428_create_ahoy_visits_and_events.rb
  db/schema.rb
  spec/models/user_spec.rb
  spec/requests/application_controller_spec.rb
Due: lint ruby, i18n tasks

Bump Ahoy to 5.0.1
  Gemfile
  Gemfile.lock
  app/models/ahoy/visit.rb
  db/migrate/20231002063534_bump_ahoy_to_5.rb
  db/schema.rb
Due: lint ruby, i18n tasks

Bump Ahoy to 5.0.1 (#222)
  Gemfile
  Gemfile.lock
  app/models/ahoy/visit.rb
  db/migrate/20231002063534_bump_ahoy_to_5.rb
  db/schema.rb
Due: lint ruby, i18n tasks

Add blazer to visualize Analytics
  .active_record_doctor
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  config/blazer.yml
  config/routes.rb
  db/migrate/20231002065027_install_blazer.rb
  db/schema.rb
Due: lint ruby, i18n tasks

Add simple system specs for engines
  spec/system/blazer_spec.rb
  spec/system/good_job_spec.rb
Due: lint ruby

Add blazer to visualize Analytics (#224)
  .active_record_doctor
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  config/blazer.yml
  config/routes.rb
  db/migrate/20231002065027_install_blazer.rb
  db/schema.rb
  spec/system/blazer_spec.rb
  spec/system/good_job_spec.rb
Due: lint ruby, i18n tasks

Bump secondary dependencies
  Gemfile.lock
  yarn.lock
Due: none

Bump secondary dependencies (#233)
  Gemfile.lock
  yarn.lock
Due: none

Fix a deprecation warning
  config/environments/test.rb
Due: lint ruby

Update branch_validation.sh
  .lefthook/pre-push/branch_validation.sh
Due: none

Update renovate.json
  .github/renovate.json
Due: none

Fix some deprecations
  config/environments/test.rb
  spec/requests/users/omniauth_callbacks_controller_spec.rb
  yarn.lock
Due: lint ruby

Add issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
Due: none

Add issue templates (#252)
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
Due: none

Fix propshaft
  esbuild.config.js
Due: lint js

Refactor some specs
  spec/actors/async_actor_spec.rb
  spec/actors/user/single_sign_on_spec.rb
  spec/actors/user/sso/create_or_update_user_spec.rb
  spec/actors/user/sso/find_or_initialize_identity_spec.rb
  spec/actors/user/sso/unify_provider_data_spec.rb
  spec/components/application_component_spec.rb
  spec/components/common/container_component_spec.rb
  spec/components/common/dropdown_component_spec.rb
  spec/components/common/heading_component_spec.rb
  spec/components/common/link_component_spec.rb
  spec/components/common/paragraph_component_spec.rb
  spec/components/layout/footer_component_spec.rb
  spec/components/layout/navbar_component_spec.rb
  spec/components/layout/notification_component_spec.rb
  spec/components/mailer/button_component_spec.rb
  spec/components/mailer/text_component_spec.rb
  spec/helpers/meta_data_helper_spec.rb
  spec/helpers/tailwind_form_builder_spec.rb
  spec/models/user_spec.rb
  spec/policies/application_policy_spec.rb
  spec/policies/identity_policy_spec.rb
  spec/system/blazer_spec.rb
  spec/system/good_job_spec.rb
  spec/system/sign_in_spec.rb
Due: lint ruby

Refactor some specs (#273)
  spec/actors/async_actor_spec.rb
  spec/actors/user/single_sign_on_spec.rb
  spec/actors/user/sso/create_or_update_user_spec.rb
  spec/actors/user/sso/find_or_initialize_identity_spec.rb
  spec/actors/user/sso/unify_provider_data_spec.rb
  spec/components/application_component_spec.rb
  spec/components/common/container_component_spec.rb
  spec/components/common/dropdown_component_spec.rb
  spec/components/common/heading_component_spec.rb
  spec/components/common/link_component_spec.rb
  spec/components/common/paragraph_component_spec.rb
  spec/components/layout/footer_component_spec.rb
  spec/components/layout/navbar_component_spec.rb
  spec/components/layout/notification_component_spec.rb
  spec/components/mailer/button_component_spec.rb
  spec/components/mailer/text_component_spec.rb
  spec/helpers/meta_data_helper_spec.rb
  spec/helpers/tailwind_form_builder_spec.rb
  spec/models/user_spec.rb
  spec/policies/application_policy_spec.rb
  spec/policies/identity_policy_spec.rb
  spec/system/blazer_spec.rb
  spec/system/good_job_spec.rb
  spec/system/sign_in_spec.rb
Due: lint ruby

Improve heading component spacing
  app/components/common/heading_component.rb
  spec/components/common/heading_component_spec.rb
Due: lint ruby, i18n tasks

Improve paragraph component spacing
  app/components/common/paragraph_component.html.haml
  spec/components/common/paragraph_component_spec.rb
Due: lint ruby, lint haml, i18n tasks

Add hero and image component
  app/components/common/hero_component.html.haml
  app/components/common/hero_component.rb
  app/components/common/image_component.html.haml
  app/components/common/image_component.rb
  app/views/home/index.en.html.haml
  app/views/home/index.html.haml
  spec/components/common/hero_component_spec.rb
  spec/components/common/image_component_spec.rb
  spec/components/previews/common/hero_component_preview.rb
  spec/components/previews/common/image_component_preview.rb
  spec/support/view_component.rb
Due: lint ruby, lint haml, i18n tasks

Add hero component (#280)
  app/components/common/heading_component.rb
  app/components/common/hero_component.html.haml
  app/components/common/hero_component.rb
  app/components/common/image_component.html.haml
  app/components/common/image_component.rb
  app/components/common/paragraph_component.html.haml
  app/views/home/index.en.html.haml
  app/views/home/index.html.haml
  spec/components/common/heading_component_spec.rb
  spec/components/common/hero_component_spec.rb
  spec/components/common/image_component_spec.rb
  spec/components/common/paragraph_component_spec.rb
  spec/components/previews/common/hero_component_preview.rb
  spec/components/previews/common/image_component_preview.rb
  spec/support/view_component.rb
Due: lint ruby, lint haml, i18n tasks

Path conditions:
  lint ruby: any of: *.rb
  lint haml: any of: *.haml
  lint js: any of: *.js
  lint css: any of: *.pcss
  i18n tasks: any of: {app,config/locales}/**/*.{haml,rb,yml}
