Repository harm-matthias-harms/rails-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: lint ruby, lint haml, lint js, lint css, i18n tasks

lint ruby:
  run: bundle exec rubocop --force-exclusion {staged_files}

lint haml:
  run: bundle exec haml-lint {staged_files}

lint js:
  run: yarn lint {staged_files}

lint css:
  run: yarn lint:css {stages_files}

i18n tasks:
  run: bundle exec i18n-tasks health

Force rubocop exclusion for lefthook (#66)
  lefthook.yml
Due: none

Add mailer text template
  app/views/layouts/mailer.text.haml
Due: lint haml, i18n tasks

Fix some settings
  app/mailers/application_mailer.rb
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/settings.yml
  config/settings/development.yml
Due: lint ruby, i18n tasks

Add mailer template
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.html.haml
Due: lint haml, i18n tasks

Add button component for mailer
  app/components/mailer/button_component.html.erb
  app/components/mailer/button_component.rb
  spec/components/mailer/button_component_spec.rb
Due: lint ruby, i18n tasks

Add text component for mailer
  app/components/mailer/text_component.html.erb
  app/components/mailer/text_component.rb
  spec/components/mailer/text_component_spec.rb
Due: lint ruby, i18n tasks

Some code cleanup
  app/components/mailer/button_component.html.erb
  app/components/mailer/button_component.rb
  spec/components/mailer/button_component_spec.rb
  spec/components/mailer/text_component_spec.rb
Due: lint ruby, i18n tasks

Some code cleanup
  app/mailers/application_mailer.rb
Due: lint ruby, i18n tasks

Add mailer template (#67)
  app/components/mailer/button_component.html.erb
  app/components/mailer/button_component.rb
  app/components/mailer/text_component.html.erb
  app/components/mailer/text_component.rb
  app/mailers/application_mailer.rb
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.html.haml
  app/views/layouts/mailer.text.haml
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/settings.yml
  config/settings/development.yml
  spec/components/mailer/button_component_spec.rb
  spec/components/mailer/text_component_spec.rb
Due: lint ruby, lint haml, i18n tasks

Disable rebase merge
  .github/settings.yml
Due: none

Disable rebase merge (#68)
  .github/settings.yml
Due: none

Add database_consistency
  .github/workflows/lint.yml
  Gemfile
  Gemfile.lock
  lefthook.yml
Due: none

Run database_consistency with test env
  .github/workflows/lint.yml
  .rubocop.yml
  db/schema.rb
  lefthook.yml
Due: lint ruby

Bump node version
  .tool-versions
  yarn.lock
Due: none

Add database_consistency (#90)
  .github/workflows/lint.yml
  .rubocop.yml
  .tool-versions
  Gemfile
  Gemfile.lock
  db/schema.rb
  lefthook.yml
  yarn.lock
Due: lint ruby

Configure s3 storage service for production
  config/credentials.yml.enc
  config/environments/production.rb
  config/initializers/config.rb
  config/settings/production.yml
  config/storage.yml
Due: lint ruby

Fix s3 for config gem
  config/initializers/config.rb
  config/settings.yml
Due: lint ruby

S3 should always be defined with optional values
  config/initializers/config.rb
  config/settings.yml
  config/settings/production.yml
Due: lint ruby

Configure s3 storage service for production (#91)
  config/credentials.yml.enc
  config/environments/production.rb
  config/initializers/config.rb
  config/settings.yml
  config/storage.yml
Due: lint ruby

Add active storage validations
  Gemfile
  Gemfile.lock
  spec/support/active_storage_validations.rb
Due: lint ruby

Add active storage validations (#92)
  Gemfile
  Gemfile.lock
  spec/support/active_storage_validations.rb
Due: lint ruby

Add set_flash method to controllers
  app/controllers/application_controller.rb
  app/controllers/concerns/flashable.rb
  config/locales/helpers/en.yml
  spec/requests/application_controller_spec.rb
  spec/requests/home_controller_spec.rb
Due: lint ruby, i18n tasks

Add set_flash method to controllers (#102)
  app/controllers/application_controller.rb
  app/controllers/concerns/flashable.rb
  config/locales/helpers/en.yml
  spec/requests/application_controller_spec.rb
  spec/requests/home_controller_spec.rb
Due: lint ruby, i18n tasks

Add meta_data_helper.rb
  app/helpers/meta_data_helper.rb
  spec/helpers/meta_data_helper_spec.rb
Due: lint ruby, i18n tasks

Add metadata to template
  README.md
  app/controllers/concerns/.keep
  app/controllers/concerns/flashable.rb
  app/helpers/meta_data_helper.rb
  app/views/layouts/application.html.haml
  config/i18n-tasks.yml
  config/locales/en.yml
  config/locales/helpers/en.yml
  spec/helpers/meta_data_helper_spec.rb
Due: lint ruby, lint haml, i18n tasks

Set html metadata automatically (#103)
  README.md
  app/controllers/concerns/.keep
  app/controllers/concerns/flashable.rb
  app/helpers/meta_data_helper.rb
  app/views/layouts/application.html.haml
  config/i18n-tasks.yml
  config/locales/en.yml
  config/locales/helpers/en.yml
  spec/helpers/meta_data_helper_spec.rb
Due: lint ruby, lint haml, i18n tasks

Fix lint
  app/helpers/meta_data_helper.rb
  app/helpers/view_components_helper.rb
Due: lint ruby, i18n tasks

Fix branch validation
  .lefthook/pre-push/branch_validation.sh
Due: none

Add active record doctor
  .active_record_doctor
  .github/workflows/lint.yml
  Gemfile
  Gemfile.lock
Due: none

Add test env to active_record_doctor
  .github/workflows/lint.yml
Due: none

Add database to check
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Add active record doctor (#110)
  .active_record_doctor
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Gemfile
  Gemfile.lock
Due: none

DaisyUI use theme
  app/views/layouts/application.html.haml
Due: lint haml, i18n tasks

Add new default form builder
  app/controllers/application_controller.rb
  app/helpers/tailwind_form_builder.rb
  app/helpers/tailwind_form_builder/base.rb
  app/helpers/tailwind_form_builder/input.rb
  app/helpers/tailwind_form_builder/label.rb
  app/helpers/tailwind_form_builder/submit.rb
  config/locales/helpers/en.yml
  spec/helpers/tailwind_form_builder_spec.rb
Due: lint ruby, i18n tasks

Remove unused import
  app/helpers/tailwind_form_builder.rb
Due: lint ruby, i18n tasks

Format code
  app/helpers/tailwind_form_builder/label.rb
  app/helpers/tailwind_form_builder/submit.rb
Due: lint ruby, i18n tasks

Add own component preview for lookbook
  app/views/layouts/component_preview.html.haml
  config/application.rb
Due: lint ruby, lint haml, i18n tasks

Add spec previews to tailwind config
  tailwind.config.js
Due: lint js

Update indirect gems
  Gemfile.lock
Due: none

Add form preview with all possible fields
  spec/components/previews/form_preview.rb
  spec/components/previews/form_preview/default.html.haml
Due: lint ruby, lint haml

Path conditions:
  lint ruby: any of: *.rb
  lint haml: any of: *.haml
  lint js: any of: *.js
  lint css: any of: *.pcss
  i18n tasks: any of: {app,config/locales}/**/*.{haml,rb,yml}
