Repository harm-matthias-harms/rails-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: lint ruby, lint haml, lint js, lint css, i18n tasks

lint ruby:
  run: bundle exec rubocop --force-exclusion {staged_files}

lint haml:
  run: bundle exec haml-lint {staged_files}

lint js:
  run: yarn lint {staged_files}

lint css:
  run: yarn lint:css {stages_files}

i18n tasks:
  run: bundle exec i18n-tasks health

Add tailwind form builder (#111)
  Gemfile.lock
  app/controllers/application_controller.rb
  app/helpers/tailwind_form_builder.rb
  app/helpers/tailwind_form_builder/base.rb
  app/helpers/tailwind_form_builder/input.rb
  app/helpers/tailwind_form_builder/label.rb
  app/helpers/tailwind_form_builder/submit.rb
  app/views/layouts/application.html.haml
  app/views/layouts/component_preview.html.haml
  config/application.rb
  config/locales/helpers/en.yml
  spec/components/previews/form_preview.rb
  spec/components/previews/form_preview/default.html.haml
  spec/helpers/tailwind_form_builder_spec.rb
  tailwind.config.js
Due: lint ruby, lint haml, lint js, i18n tasks

Bump nodejs
  .tool-versions
  yarn.lock
Due: none

Remove webdriver gem
  Gemfile
  Gemfile.lock
  spec/support/capybara.rb
Due: lint ruby

Add basic application layout
  app/components/application_component.rb
  app/components/common/container_component.html.haml
  app/components/common/container_component.rb
  app/components/layout/footer_component.html.haml
  app/components/layout/footer_component.rb
  app/components/layout/navbar_component.html.haml
  app/components/layout/navbar_component.rb
  app/views/home/index.html.haml
  app/views/layouts/application.html.haml
  spec/components/common/container_component_spec.rb
  spec/components/layout/footer_component_spec.rb
  spec/components/layout/navbar_component_spec.rb
  spec/components/previews/common/container_component_preview.rb
  spec/components/previews/layout/footer_component_preview.rb
  spec/components/previews/layout/navbar_component_preview.rb
  spec/support/view_component.rb
Due: lint ruby, lint haml, i18n tasks

Add i18n entry for footer
  app/components/layout/footer_component.html.haml
  config/locales/components/en.yml
Due: lint haml, i18n tasks

Add basic application layout (#118)
  app/components/application_component.rb
  app/components/common/container_component.html.haml
  app/components/common/container_component.rb
  app/components/layout/footer_component.html.haml
  app/components/layout/footer_component.rb
  app/components/layout/navbar_component.html.haml
  app/components/layout/navbar_component.rb
  app/views/home/index.html.haml
  app/views/layouts/application.html.haml
  config/locales/components/en.yml
  spec/components/common/container_component_spec.rb
  spec/components/layout/footer_component_spec.rb
  spec/components/layout/navbar_component_spec.rb
  spec/components/previews/common/container_component_preview.rb
  spec/components/previews/layout/footer_component_preview.rb
  spec/components/previews/layout/navbar_component_preview.rb
  spec/support/view_component.rb
Due: lint ruby, lint haml, i18n tasks

Modify some layout stuff
  app/components/layout/footer_component.html.haml
  app/components/layout/navbar_component.html.haml
  app/controllers/concerns/flashable.rb
  app/javascript/controllers/hello_controller.js
  app/javascript/controllers/index.js
  app/views/layouts/application.html.haml
  spec/components/layout/footer_component_spec.rb
  spec/components/layout/navbar_component_spec.rb
Due: lint ruby, lint haml, lint js, i18n tasks

Add remove stimulus controller
  app/javascript/controllers/remove_controller.js
Due: lint js

Add fontawesome
  app/assets/fonts/fontawesome.css
  app/javascript/application.js
  app/views/layouts/application.html.haml
  esbuild.config.js
  package.json
  yarn.lock
Due: lint haml, lint js, i18n tasks

Add notification component
  app/components/layout/notification_component.html.haml
  app/components/layout/notification_component.rb
  app/views/layouts/component_preview.html.haml
  spec/components/layout/notification_component_spec.rb
  spec/components/previews/layout/notification_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Some code cleanup
  app/components/layout/footer_component.html.haml
  app/views/layouts/application.html.haml
Due: lint haml, i18n tasks

Add view component for flash notifications (#119)
  app/assets/fonts/fontawesome.css
  app/components/layout/footer_component.html.haml
  app/components/layout/navbar_component.html.haml
  app/components/layout/notification_component.html.haml
  app/components/layout/notification_component.rb
  app/controllers/concerns/flashable.rb
  app/javascript/application.js
  app/javascript/controllers/hello_controller.js
  app/javascript/controllers/index.js
  app/javascript/controllers/remove_controller.js
  app/views/layouts/application.html.haml
  app/views/layouts/component_preview.html.haml
  esbuild.config.js
  package.json
  spec/components/layout/footer_component_spec.rb
  spec/components/layout/navbar_component_spec.rb
  spec/components/layout/notification_component_spec.rb
  spec/components/previews/layout/notification_component_preview.rb
  yarn.lock
Due: lint ruby, lint haml, lint js, i18n tasks

Fix lint
  Gemfile
Due: none

Add codecov action
  .github/workflows/test.yml
Due: none

Try new formatter for codecov
  Gemfile
  Gemfile.lock
  spec/spec_helper.rb
Due: lint ruby

Try new formatter for codecov
  spec/spec_helper.rb
Due: lint ruby

Add codecov icon
  README.md
Due: none

Add codecov (#129)
  .github/workflows/test.yml
  Gemfile
  Gemfile.lock
  README.md
  spec/spec_helper.rb
Due: lint ruby

Run tests on main to keep codecov updated
  .github/workflows/test.yml
Due: none

Run tests on main to keep codecov updated (#131)
  .github/workflows/test.yml
Due: none

Install devise
  Gemfile
  Gemfile.lock
  config/initializers/devise.rb
  config/locales/devise/en.yml
Due: lint ruby, i18n tasks

Add current user
  app/components/layout/navbar_component.html.haml
  app/controllers/application_controller.rb
  app/models/current.rb
  config/i18n-tasks.yml
Due: lint ruby, lint haml, i18n tasks

Include devise helper for component tests
  spec/support/view_component.rb
Due: lint ruby

Add user model
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/models/user.rb
  config/routes.rb
  db/migrate/20230818055950_devise_create_users.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/support/factory_bot.rb
Due: lint ruby, i18n tasks

Add required user validations
  app/models/user.rb
Due: lint ruby, i18n tasks

Add some basic views
  app/components/layout/navbar_component.html.haml
  app/controllers/application_controller.rb
  app/helpers/tailwind_form_builder/input.rb
  app/views/layouts/application.html.haml
  app/views/users/confirmations/new.html.haml
  app/views/users/passwords/edit.html.haml
  app/views/users/passwords/new.html.haml
  app/views/users/registrations/edit.html.haml
  app/views/users/registrations/new.html.haml
  app/views/users/sessions/new.html.haml
  app/views/users/shared/_links.html.haml
  config/initializers/devise.rb
Due: lint ruby, lint haml, i18n tasks

Add mailer views
  app/views/users/mailer/confirmation_instructions.html.haml
  app/views/users/mailer/email_changed.html.haml
  app/views/users/mailer/password_change.html.haml
  app/views/users/mailer/reset_password_instructions.html.haml
  spec/mailers/previews/devise_mailer_preview.rb
Due: lint ruby, lint haml, i18n tasks

Add mailer text views
  app/views/users/mailer/confirmation_instructions.text.haml
  app/views/users/mailer/email_changed.text.haml
  app/views/users/mailer/password_change.text.haml
  app/views/users/mailer/reset_password_instructions.text.haml
  config/application.rb
  config/initializers/devise.rb
Due: lint ruby, lint haml, i18n tasks

Add simple feature spec
  spec/factories/users.rb
  spec/features/sign_in_spec.rb
  spec/features/sign_up_spec.rb
  spec/support/mailer_marcros.rb
Due: lint ruby

Add truemail verification
  Gemfile
  Gemfile.lock
  app/models/concerns/.keep
  app/models/concerns/email_validatable.rb
  app/models/user.rb
  config/initializers/truemail.rb
  config/truemail.yml
  spec/models/concerns/email_validatable_spec.rb
  spec/models/user_spec.rb
  spec/support/truemail.rb
Due: lint ruby, i18n tasks

Fix include for Dummy
  spec/models/concerns/email_validatable_spec.rb
Due: lint ruby

Perform devise notifications async
  app/models/user.rb
  config/environments/test.rb
Due: lint ruby, i18n tasks

Add role for users and secure sidekiq
  app/models/user.rb
  config/routes.rb
  db/migrate/20230818202918_add_roles_to_user.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: lint ruby, i18n tasks

Add form i18n
  app/components/layout/navbar_component.html.haml
  app/controllers/application_controller.rb
  app/views/users/confirmations/new.html.haml
  app/views/users/passwords/edit.html.haml
  app/views/users/passwords/new.html.haml
  app/views/users/registrations/edit.html.haml
  app/views/users/registrations/new.html.haml
  app/views/users/sessions/new.html.haml
  app/views/users/shared/_links.html.haml
  config/locales/devise/en.yml
Due: lint ruby, lint haml, i18n tasks

Add mail texts
  app/components/layout/navbar_component.html.haml
  app/mailers/application_mailer.rb
  app/models/user.rb
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.haml
  app/views/users/mailer/confirmation_instructions.html.haml
  app/views/users/mailer/confirmation_instructions.text.haml
  app/views/users/mailer/email_changed.html.haml
  app/views/users/mailer/email_changed.text.haml
  app/views/users/mailer/password_change.html.haml
  app/views/users/mailer/password_change.text.haml
  app/views/users/mailer/reset_password_instructions.html.haml
  app/views/users/mailer/reset_password_instructions.text.haml
  config/environments/development.rb
  config/initializers/config.rb
  config/locales/devise/en.yml
  config/locales/layout/en.yml
  config/settings.yml
  spec/features/sign_in_spec.rb
  spec/models/user_spec.rb
Due: lint ruby, lint haml, i18n tasks

Only allow unique email
  spec/factories/users.rb
Due: lint ruby

Try fix for database consistency
  .github/workflows/lint.yml
Due: none

Add spacing for links
  app/views/users/shared/_links.html.haml
Due: lint haml, i18n tasks

Add i18n for mails
  app/views/users/mailer/confirmation_instructions.html.haml
  app/views/users/mailer/confirmation_instructions.text.haml
  app/views/users/mailer/email_changed.html.haml
  app/views/users/mailer/email_changed.text.haml
  app/views/users/mailer/password_change.html.haml
  app/views/users/mailer/password_change.text.haml
  app/views/users/mailer/reset_password_instructions.html.haml
  app/views/users/mailer/reset_password_instructions.text.haml
  config/locales/devise/en.yml
Due: lint haml, i18n tasks

Fix i18n for links
  app/views/users/shared/_links.html.haml
  config/locales/devise/en.yml
Due: lint haml, i18n tasks

Path conditions:
  lint ruby: any of: *.rb
  lint haml: any of: *.haml
  lint js: any of: *.js
  lint css: any of: *.pcss
  i18n tasks: any of: {app,config/locales}/**/*.{haml,rb,yml}
