Repository harm-matthias-harms/rails-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: lint ruby, lint haml, lint js, lint css, i18n tasks

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    bundle check:
      run: bundle check
    lint ruby:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    lint haml:
      glob: "*.haml"
      run: bundle exec haml-lint {staged_files}
    lint js:
      glob: "*.js"
      run: yarn lint {staged_files}
    lint css:
      glob: "*.pcss"
      run: yarn lint:css {stages_files}
    i18n tasks:
      glob: "{app,config/locales}/**/*.{haml,rb,yml}"
      run: bundle exec i18n-tasks health
    brakeman:
      run: bundle exec brakeman
pre-push:
  parallel: true
  scripts:
    branch_validation.sh:
      runner: bash
post-checkout: &post-checkoout
  parallel: true
  commands:
    git pull:
      run: git pull
    bundle install:
      run: bundle install
    yarn install:
      run: yarn install
post-merge: *post-checkoout
post-rewrite: *post-checkoout

Add flashable spec
  config/locales/helpers/en.yml
  spec/requests/application_controller_spec.rb
Due: lint ruby, i18n tasks

Add flashable spec (#281)
  config/locales/helpers/en.yml
  spec/requests/application_controller_spec.rb
Due: lint ruby, i18n tasks

Give hero heading default args
  app/components/common/hero_component.rb
  app/views/home/index.en.html.haml
  spec/components/previews/common/hero_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Add list component
  app/components/common/list_component.html.haml
  app/components/common/list_component.rb
  spec/components/common/list_component_spec.rb
  spec/components/previews/common/list_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Make shadow optional
  app/components/common/hero_component.html.haml
  app/components/common/hero_component.rb
  app/components/common/image_component.html.haml
  app/components/common/image_component.rb
  spec/components/common/image_component_spec.rb
  spec/components/previews/common/image_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Showcase WIP
  app/components/common/showcase_component.html.haml
  app/components/common/showcase_component.rb
  app/views/home/index.en.html.haml
  spec/components/common/showcase_component_spec.rb
  spec/components/previews/common/showcase_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Add basic card component
  app/components/common/card_component.html.haml
  app/components/common/card_component.rb
  app/components/common/showcase_component.html.haml
  db/schema.rb
  spec/components/common/card_component_spec.rb
  spec/components/previews/common/card_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Improve mobile spacing
  app/components/common/showcase_component.html.haml
Due: lint haml, i18n tasks

Add showcase spec
  spec/components/common/showcase_component_spec.rb
Due: lint ruby

Improve some spacing
  app/components/common/hero_component.html.haml
  app/components/common/showcase_component.html.haml
Due: lint haml, i18n tasks

Add showcases to landingpage (#282)
  app/components/common/card_component.html.haml
  app/components/common/card_component.rb
  app/components/common/hero_component.html.haml
  app/components/common/hero_component.rb
  app/components/common/image_component.html.haml
  app/components/common/image_component.rb
  app/components/common/list_component.html.haml
  app/components/common/list_component.rb
  app/components/common/showcase_component.html.haml
  app/components/common/showcase_component.rb
  app/views/home/index.en.html.haml
  db/schema.rb
  spec/components/common/card_component_spec.rb
  spec/components/common/image_component_spec.rb
  spec/components/common/list_component_spec.rb
  spec/components/common/showcase_component_spec.rb
  spec/components/previews/common/card_component_preview.rb
  spec/components/previews/common/hero_component_preview.rb
  spec/components/previews/common/image_component_preview.rb
  spec/components/previews/common/list_component_preview.rb
  spec/components/previews/common/showcase_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Add required gems
  Gemfile
  Gemfile.lock
Due: none

Add pay migration
  Gemfile
  Gemfile.lock
  db/migrate/20231110220106_create_pay_tables.pay.rb
  db/schema.rb
Due: lint ruby

Fix active record doctor
  .active_record_doctor
Due: none

Add pay config
  config/initializers/config.rb
  config/initializers/pay.rb
  config/settings.yml
Due: lint ruby

Add email views placeholder
  app/views/pay/user_mailer/payment_action_required.html.erb
  app/views/pay/user_mailer/payment_failed.html.erb
  app/views/pay/user_mailer/receipt.html.erb
  app/views/pay/user_mailer/refund.html.erb
  app/views/pay/user_mailer/subscription_renewing.html.erb
  app/views/pay/user_mailer/subscription_trial_ended.html.erb
  app/views/pay/user_mailer/subscription_trial_will_end.html.erb
Due: none

Add config placeholder
  config/initializers/config.rb
Due: lint ruby

Add config placeholder
  .github/workflows/lint.yml
Due: none

Add config placeholder
  .github/workflows/test.yml
Due: none

Add pay_customer
  app/models/user.rb
  config/initializers/pay.rb
Due: lint ruby, i18n tasks

Add plan_id to config
  config/initializers/config.rb
Due: lint ruby

WIP
  .github/workflows/test.yml
  app/controllers/subscriptions_controller.rb
  config/routes.rb
  spec/requests/subscriptions_controller_spec.rb
Due: lint ruby, i18n tasks

Fix rubocop lints
  app/controllers/concerns/deviseable.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  spec/requests/users/omniauth_callbacks_controller_spec.rb
Due: lint ruby, i18n tasks

Fix rubocop lints
  app/controllers/users/omniauth_callbacks_controller.rb
  spec/requests/users/omniauth_callbacks_controller_spec.rb
Due: lint ruby, i18n tasks

Remove mails
  Gemfile
  Gemfile.lock
  app/views/pay/user_mailer/payment_action_required.html.erb
  app/views/pay/user_mailer/payment_failed.html.erb
  app/views/pay/user_mailer/receipt.html.erb
  app/views/pay/user_mailer/refund.html.erb
  app/views/pay/user_mailer/subscription_renewing.html.erb
  app/views/pay/user_mailer/subscription_trial_ended.html.erb
  app/views/pay/user_mailer/subscription_trial_will_end.html.erb
  config/initializers/pay.rb
Due: lint ruby

Add stripe to Procfile.dev
  Procfile.dev
Due: none

Rescue unauthorized error
  app/controllers/application_controller.rb
  spec/requests/application_controller_spec.rb
Due: lint ruby, i18n tasks

Add random sub button
  app/views/home/index.en.html.haml
Due: lint haml, i18n tasks

Set default processor
  .github/workflows/test.yml
  config/settings.yml
  config/settings/test.yml
Due: none

Use default_processor in user
  app/models/user.rb
Due: lint ruby, i18n tasks

Add index route
  app/controllers/subscriptions_controller.rb
  config/routes.rb
  spec/requests/subscriptions_controller_spec.rb
Due: lint ruby, i18n tasks

Add pay/subscription_policy
  app/policies/pay/subscription_policy.rb
  spec/policies/pay/subscription_policy_spec.rb
Due: lint ruby, i18n tasks

Add pay/subscription_policy
  config/locales/helpers/en.yml
Due: i18n tasks

Pay gem for test env
  config/initializers/config.rb
  config/initializers/pay.rb
Due: lint ruby

Add subscription policy
  app/policies/pay/subscription_policy.rb
  spec/factories/users.rb
  spec/policies/pay/subscription_policy_spec.rb
Due: lint ruby, i18n tasks

Fix rubocop
  spec/requests/application_controller_spec.rb
Due: lint ruby

Use actor for checkout
  app/actors/pay/create_checkout.rb
  app/controllers/subscriptions_controller.rb
  app/views/home/index.en.html.haml
  config/locales/helpers/en.yml
  spec/requests/subscriptions_controller_spec.rb
Due: lint ruby, lint haml, i18n tasks
