Repository harm-matthias-harms/rails-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: lint ruby, lint haml, lint js, lint css, i18n tasks

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    bundle check:
      run: bundle check
    lint ruby:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    lint haml:
      glob: "*.haml"
      run: bundle exec haml-lint {staged_files}
    lint js:
      glob: "*.js"
      run: yarn lint {staged_files}
    lint css:
      glob: "*.pcss"
      run: yarn lint:css {stages_files}
    i18n tasks:
      glob: "{app,config/locales}/**/*.{haml,rb,yml}"
      run: bundle exec i18n-tasks health
    brakeman:
      run: bundle exec brakeman
pre-push:
  parallel: true
  scripts:
    branch_validation.sh:
      runner: bash
post-checkout: &post-checkoout
  parallel: true
  commands:
    git pull:
      run: git pull
    bundle install:
      run: bundle install
    yarn install:
      run: yarn install
post-merge: *post-checkoout
post-rewrite: *post-checkoout

Add link to billing portal
  app/components/application_component.rb
  app/components/layout/navbar_component.html.haml
  config/locales/components/en.yml
  spec/components/application_component_spec.rb
Due: lint ruby, lint haml, i18n tasks

Format
  app/controllers/subscriptions_controller.rb
Due: lint ruby, i18n tasks

Add premium subscription (#285)
  .active_record_doctor
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Gemfile
  Gemfile.lock
  Procfile.dev
  app/actors/pay/create_checkout.rb
  app/components/application_component.rb
  app/components/layout/navbar_component.html.haml
  app/controllers/application_controller.rb
  app/controllers/subscriptions_controller.rb
  app/models/user.rb
  app/policies/pay/subscription_policy.rb
  app/views/home/index.en.html.haml
  config/initializers/config.rb
  config/initializers/pay.rb
  config/locales/components/en.yml
  config/locales/helpers/en.yml
  config/routes.rb
  config/settings.yml
  config/settings/test.yml
  db/migrate/20231110220106_create_pay_tables.pay.rb
  db/schema.rb
  spec/components/application_component_spec.rb
  spec/factories/users.rb
  spec/policies/pay/subscription_policy_spec.rb
  spec/requests/application_controller_spec.rb
  spec/requests/subscriptions_controller_spec.rb
Due: lint ruby, lint haml, i18n tasks

Simplify pay config
  config/initializers/config.rb
  config/initializers/pay.rb
  config/settings.yml
Due: lint ruby

Simplify pay config (#307)
  config/initializers/config.rb
  config/initializers/pay.rb
  config/settings.yml
Due: lint ruby

Migrate to pay 7
  Gemfile
  Gemfile.lock
  config/initializers/pay.rb
  db/migrate/20231209161816_add_payment_method_to_pay_subscriptions.rb
  db/schema.rb
Due: lint ruby

Small UI improvement
  app/components/common/showcase_component.html.haml
  app/components/common/showcase_component.rb
  app/views/home/index.en.html.haml
  spec/components/previews/common/showcase_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Small UI improvement
  app/components/common/card_component.html.haml
Due: lint haml, i18n tasks

Small UI improvement (#316)
  app/components/common/card_component.html.haml
  app/components/common/showcase_component.html.haml
  app/components/common/showcase_component.rb
  app/views/home/index.en.html.haml
  spec/components/previews/common/showcase_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Make show component more flexible
  app/components/common/showcase_component.rb
  spec/components/common/showcase_component_spec.rb
  spec/components/previews/common/showcase_component_preview.rb
Due: lint ruby, i18n tasks

Add simple pricing section
  app/components/common/card_component.html.haml
  app/components/common/card_component.rb
  app/components/common/link_component.html.haml
  app/views/home/index.en.html.haml
  spec/components/common/card_component_spec.rb
Due: lint ruby, lint haml, i18n tasks

Fix lints
  app/components/application_component.rb
  app/helpers/tailwind_form_builder/input.rb
Due: lint ruby, i18n tasks

Add stripe
  Gemfile.lock
  app/helpers/stripe_helper.rb
  app/views/home/index.en.html.haml
  config/locales/helpers/en.yml
  spec/helpers/stripe_helper_spec.rb
Due: lint ruby, lint haml, i18n tasks

Improve pricing mobile
  app/components/common/card_component.html.haml
  app/components/common/showcase_component.html.haml
  app/components/common/showcase_component.rb
  app/views/home/index.en.html.haml
Due: lint ruby, lint haml, i18n tasks

Mock stripe helper globally
  app/helpers/stripe_helper.rb
  spec/helpers/stripe_helper_spec.rb
  spec/support/stripe.rb
Due: lint ruby, i18n tasks

Display a pricing section (#317)
  app/components/common/card_component.html.haml
  app/components/common/card_component.rb
  app/components/common/link_component.html.haml
  app/components/common/showcase_component.html.haml
  app/components/common/showcase_component.rb
  app/helpers/stripe_helper.rb
  app/views/home/index.en.html.haml
  config/locales/helpers/en.yml
  spec/components/common/card_component_spec.rb
  spec/components/common/showcase_component_spec.rb
  spec/components/previews/common/showcase_component_preview.rb
  spec/helpers/stripe_helper_spec.rb
  spec/support/stripe.rb
Due: lint ruby, lint haml, i18n tasks

Add trial period
  app/actors/pay/create_checkout.rb
  app/controllers/subscriptions_controller.rb
  app/views/home/index.en.html.haml
Due: lint ruby, lint haml, i18n tasks

Fix showcase component
  app/components/common/showcase_component.html.haml
Due: lint haml, i18n tasks

Add trial period (#337)
  app/actors/pay/create_checkout.rb
  app/components/common/showcase_component.html.haml
  app/controllers/subscriptions_controller.rb
  app/views/home/index.en.html.haml
Due: lint ruby, lint haml, i18n tasks

Upgrade to ruby 3.3.0
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  app/helpers/tailwind_form_builder/label.rb
Due: lint ruby, i18n tasks

Upgrade to ruby 3.3.0 (#347)
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  app/helpers/tailwind_form_builder/label.rb
Due: lint ruby, i18n tasks

Run good job update
  db/migrate/20240109194911_create_good_job_settings.rb
  db/migrate/20240109194912_create_index_good_jobs_jobs_on_priority_created_at_when_unfinished.rb
  db/migrate/20240109194913_create_good_job_batches.rb
  db/migrate/20240109194914_create_good_job_executions.rb
  db/migrate/20240109194915_create_good_jobs_error_event.rb
  db/migrate/20240109194916_recreate_good_job_cron_indexes_with_conditional.rb
  db/migrate/20240109194917_create_good_job_labels.rb
  db/migrate/20240109194918_create_good_job_labels_index.rb
  db/migrate/20240109194919_remove_good_job_active_id_index.rb
  db/schema.rb
Due: lint ruby

Run good job update (#361)
  db/migrate/20240109194911_create_good_job_settings.rb
  db/migrate/20240109194912_create_index_good_jobs_jobs_on_priority_created_at_when_unfinished.rb
  db/migrate/20240109194913_create_good_job_batches.rb
  db/migrate/20240109194914_create_good_job_executions.rb
  db/migrate/20240109194915_create_good_jobs_error_event.rb
  db/migrate/20240109194916_recreate_good_job_cron_indexes_with_conditional.rb
  db/migrate/20240109194917_create_good_job_labels.rb
  db/migrate/20240109194918_create_good_job_labels_index.rb
  db/migrate/20240109194919_remove_good_job_active_id_index.rb
  db/schema.rb
Due: lint ruby

Fix lint
  spec/components/common/list_component_spec.rb
  spec/components/common/showcase_component_spec.rb
  spec/system/sign_in_spec.rb
  spec/system/sign_up_spec.rb
Due: lint ruby

Fix specs
  spec/system/sign_in_spec.rb
  spec/system/sign_up_spec.rb
Due: lint ruby

Fix specs
  .github/dependabot.yml
  .github/renovate.json
Due: none

Add renovate for autoupdates (#395)
  .github/dependabot.yml
  .github/renovate.json
Due: none

Refine renovate config
  .github/renovate.json
Due: none

Refine renovate config (#396)
  .github/renovate.json
Due: none

Add gemfile.lock
  Gemfile.lock
Due: none

Update docker-compose.dev.yml
  docker-compose.dev.yml
Due: none

Update lint.yml
  .github/workflows/lint.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

bump stylelint
  package.json
  yarn.lock
Due: none

Move from yarn to bun
  .gitattributes
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .tool-versions
  Procfile.dev
  app/assets/builds/.keep
  app/assets/fonts/fontawesome.css
  app/assets/fonts/nunito.css
  app/assets/stylesheets/application.pcss
  app/javascript/application.js
  app/views/layouts/application.html.haml
  bin/dev
  bun.config.js
  bun.lockb
  esbuild.config.js
  package.json
  public/fonts/Nunito.ttf
  yarn.lock
Due: lint haml, lint js, lint css, i18n tasks

Move from yarn to bun
  Dockerfile
  lefthook.yml
Due: none

Move from yarn to bun
  app/views/layouts/component_preview.html.haml
  app/views/layouts/mailer.html.erb
Due: lint haml, i18n tasks

Move from yarn to bun
  .github/workflows/test.yml
Due: none
