Repository harm-matthias-harms/rails-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: lint ruby, lint haml, lint js, lint css, i18n tasks

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    bundle check:
      run: bundle check
    lint ruby:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    lint haml:
      glob: "*.haml"
      run: bundle exec haml-lint {staged_files}
    lint js:
      glob: "*.js"
      run: bun run lint {staged_files}
    lint css:
      glob: "*.pcss"
      run: bun run lint:css {stages_files}
    i18n tasks:
      glob: "{app,config/locales}/**/*.{haml,rb,yml}"
      run: bundle exec i18n-tasks health
pre-push:
  parallel: true
  scripts:
    branch_validation.sh:
      runner: bash
post-checkout: &post-checkoout
  parallel: true
  commands:
    git pull:
      run: git pull
    bundle install:
      run: bundle install
    bun install:
      run: bun install
post-merge: *post-checkoout
post-rewrite: *post-checkoout

Move from yarn to bun
  .github/workflows/test.yml
Due: none

Use turbo morph
  app/views/layouts/application.html.haml
  bun.lockb
  package.json
Due: lint haml, i18n tasks

Update settings.yml
  .github/settings.yml
Due: none

Test automerge
  .tool-versions
Due: none

Add dry validation to Gemfile
  Gemfile
  Gemfile.lock
Due: none

Fix
  bun.lockb
  config/initializers/content_security_policy.rb
  config/initializers/inflections.rb
  config/initializers/permissions_policy.rb
Due: lint ruby

WIP
  spec/requests/users/omniauth_callbacks_controller_spec.rb
  spec/support/actor_mock.rb
Due: lint ruby

WIP
  config/initializers/content_security_policy.rb
  config/initializers/inflections.rb
  config/initializers/permissions_policy.rb
Due: lint ruby

Add legal links to the footer
  app/components/layout/footer_component.html.haml
  config/locales/components/en.yml
Due: lint haml, i18n tasks

Add legal links to the footer (#475)
  app/components/layout/footer_component.html.haml
  config/locales/components/en.yml
Due: lint haml, i18n tasks

Fix submit for none required fields
  app/helpers/tailwind_form_builder/submit.rb
Due: lint ruby, i18n tasks

Fix submit for none required fields (#489)
  app/helpers/tailwind_form_builder/submit.rb
Due: lint ruby, i18n tasks

WIP
  Gemfile
  Gemfile.lock
Due: none

Fix rubocop lint
  app/helpers/tailwind_form_builder/checkbox.rb
  app/helpers/tailwind_form_builder/submit.rb
Due: lint ruby, i18n tasks

Fix rubocop lint (#568)
  app/helpers/tailwind_form_builder/checkbox.rb
  app/helpers/tailwind_form_builder/submit.rb
Due: lint ruby, i18n tasks

Update good job migrations
  db/migrate/20240622201716_create_index_good_job_jobs_for_candidate_lookup.rb
  db/migrate/20240622201717_create_good_job_execution_error_backtrace.rb
  db/migrate/20240622201718_create_good_job_process_lock_ids.rb
  db/migrate/20240622201719_create_good_job_process_lock_indexes.rb
  db/schema.rb
Due: lint ruby

Update good job migrations (#609)
  db/migrate/20240622201716_create_index_good_job_jobs_for_candidate_lookup.rb
  db/migrate/20240622201717_create_good_job_execution_error_backtrace.rb
  db/migrate/20240622201718_create_good_job_process_lock_ids.rb
  db/migrate/20240622201719_create_good_job_process_lock_indexes.rb
  db/schema.rb
Due: lint ruby

WIP
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

WIP
  db/migrate/20240705203330_create_good_job_execution_duration.rb
  db/schema.rb
Due: lint ruby

Revert "Update dependency bun to v1.1.21 (#654)"
  .tool-versions
Due: none

Revert "Update dependency bun to v1.1.21" (#659)
  .tool-versions
Due: none

Revert "Update dependency bun to v1.1.22 (#673)"
  .tool-versions
Due: none

Revert "Update dependency bun to v1.1.22" (#677)
  .tool-versions
Due: none

Fix specs
  app/assets/builds/.keep
  app/views/layouts/application.html.haml
  bin/dev
  bun.lockb
Due: lint haml, i18n tasks

Some Rails 7.2 fixes
  .rubocop.yml
  app/models/user.rb
  bin/brakeman
  bin/rubocop
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/assets.rb
  config/initializers/filter_parameter_logging.rb
  config/puma.rb
Due: lint ruby, i18n tasks

Add rubocop-rspec_rails
  Gemfile
  Gemfile.lock
Due: none

Enable devise paranoid
  config/initializers/devise.rb
Due: lint ruby

Enable devise paranoid (#698)
  config/initializers/devise.rb
Due: lint ruby

Finetune settings, change calver, add merge-gatekeeper
  .github/settings.yml
  .github/workflows/merge-gatekeeper.yml
  .github/workflows/pull-request.yml
  .github/workflows/release-drafter.yml
Due: none

Finetune settings, change calver, add merge-gatekeeper (#699)
  .github/settings.yml
  .github/workflows/merge-gatekeeper.yml
  .github/workflows/pull-request.yml
  .github/workflows/release-drafter.yml
Due: none

Fix rubocop
  spec/rails_helper.rb
Due: lint ruby

WIP
  spec/rails_helper.rb
Due: lint ruby

WIP
  Gemfile.lock
Due: none

WIP
  db/migrate/20241011085233_add_pay_sti_columns.pay.rb
  db/schema.rb
Due: lint ruby

WIP
  .active_record_doctor
Due: none

WIP
  .active_record_doctor.rb
Due: lint ruby
