Repository harm-matthias-harms/rails-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: lint ruby, lint haml, lint js, lint css, i18n tasks

lint ruby:
  run: bundle exec rubocop --force-exclusion {staged_files}

lint haml:
  run: bundle exec haml-lint {staged_files}

lint js:
  run: bun run lint {staged_files}

lint css:
  run: bun run lint:css {stages_files}

i18n tasks:
  run: bundle exec i18n-tasks health

WIP
  db/migrate/20241011085233_add_pay_sti_columns.pay.rb
Due: lint ruby

Add Thruster
  Dockerfile
  Gemfile
  Gemfile.lock
  app/views/layouts/component_preview.html.haml
  bin/docker-entrypoint
  bin/thrust
  bun.config.js
Due: lint haml, lint js, i18n tasks

Add Thruster (#780)
  Dockerfile
  Gemfile
  Gemfile.lock
  app/views/layouts/component_preview.html.haml
  bin/docker-entrypoint
  bin/thrust
  bun.config.js
Due: lint haml, lint js, i18n tasks

WIP
  .github/workflows/release-drafter.yml
Due: none

WIP
  app/helpers/view_components_helper.rb
Due: lint ruby, i18n tasks

Use solid cache instead of redis cache
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/blazer.yml
  config/cache.yml
  config/database.yml
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/config.rb
  config/settings/development.yml
  config/settings/production.yml
  config/settings/test.yml
  db/cache_schema.rb
Due: lint ruby

WIP
  .active_record_doctor.rb
Due: lint ruby

Use solid cache instead of redis cache (#816)
  .active_record_doctor.rb
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/blazer.yml
  config/cache.yml
  config/database.yml
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/config.rb
  config/settings/development.yml
  config/settings/production.yml
  config/settings/test.yml
  db/cache_schema.rb
Due: lint ruby

Use solid cable and remove redis dependency
  .active_record_doctor.rb
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/cable.yml
  config/database.yml
  config/initializers/config.rb
  config/settings/development.yml
  config/settings/production.yml
  config/settings/test.yml
  db/cable_schema.rb
  docker-compose.dev.yml
Due: lint ruby

WIP
  config/database.yml
  db/cable_schema.rb
  db/cache_schema.rb
Due: lint ruby

Use solid cable and remove redis dependency (#817)
  .active_record_doctor.rb
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/cable.yml
  config/database.yml
  config/initializers/config.rb
  config/settings/development.yml
  config/settings/production.yml
  config/settings/test.yml
  db/cable_schema.rb
  db/cache_schema.rb
  docker-compose.dev.yml
Due: lint ruby

Migrate to annotaterb
  .annotaterb.yml
  Gemfile
  Gemfile.lock
  app/models/ahoy/event.rb
  app/models/ahoy/visit.rb
  app/models/consent.rb
  app/models/identity.rb
  app/models/user.rb
  lib/tasks/annotate_rb.rake
  lib/tasks/auto_annotate_models.rake
  spec/factories/consents.rb
  spec/factories/users.rb
Due: lint ruby, i18n tasks

WIP
  lib/tasks/annotate_rb.rake
Due: none

WIP
  db/cable_schema.rb
  db/cache_schema.rb
Due: lint ruby

Migrate to annotaterb (#839)
  .annotaterb.yml
  Gemfile
  Gemfile.lock
  app/models/ahoy/event.rb
  app/models/ahoy/visit.rb
  app/models/consent.rb
  app/models/identity.rb
  app/models/user.rb
  db/cable_schema.rb
  db/cache_schema.rb
  lib/tasks/annotate_rb.rake
  lib/tasks/auto_annotate_models.rake
  spec/factories/consents.rb
  spec/factories/users.rb
Due: lint ruby, i18n tasks

WIP
  config/initializers/content_security_policy.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  db/migrate/20241116154044_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20241116154045_create_active_storage_variant_records.active_storage.rb
  db/migrate/20241116154046_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
Due: lint ruby

WIP
  config/environments/development.rb
Due: lint ruby

WIP
  config/application.rb
  config/environments/production.rb
  config/environments/test.rb
  config/puma.rb
Due: lint ruby

WIP
  db/schema.rb
Due: lint ruby

WIP
  config/environments/test.rb
Due: lint ruby

WIP
  config/environments/development.rb
  config/environments/production.rb
Due: lint ruby

WIP
  spec/requests/users/omniauth_callbacks_controller_spec.rb
Due: lint ruby

Add hotwire spark and query count
  Gemfile
  Gemfile.lock
  config/initializers/spark.rb
Due: lint ruby

WIP
  config/initializers/spark.rb
Due: lint ruby

Add hotwire spark and query count (#893)
  Gemfile
  Gemfile.lock
  config/initializers/spark.rb
Due: lint ruby

WIP
  Gemfile.lock
Due: none

Fix hotwire spark config
  config/environments/development.rb
  config/initializers/spark.rb
Due: lint ruby

Fix hotwire spark config (#901)
  config/environments/development.rb
  config/initializers/spark.rb
Due: lint ruby

Use bun.lock
  Dockerfile
  bun.lock
  bun.lockb
Due: none

Use bun.lock (#903)
  Dockerfile
  bun.lock
  bun.lockb
Due: none

WIP
  .rubocop.yml
Due: none

WIP
  Gemfile
  Gemfile.lock
Due: none

Change some release drafter configs
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: none

Change some release drafter configs (#1062)
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: none

Path conditions:
  lint ruby: any of: *.rb
  lint haml: any of: *.haml
  lint js: any of: *.js
  lint css: any of: *.pcss
  i18n tasks: any of: {app,config/locales}/**/*.{haml,rb,yml}
