Repository harm-matthias-harms/rails-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: lint ruby, lint haml, lint js, lint css, i18n tasks

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    bundle check:
      run: bundle check
    lint ruby:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    lint haml:
      glob: "*.haml"
      run: bundle exec haml-lint {staged_files}
    lint js:
      glob: "*.js"
      run: yarn lint {staged_files}
    lint css:
      glob: "*.pcss"
      run: yarn lint:css {stages_files}
    i18n tasks:
      glob: "{app,config/locales}/**/*.{haml,rb,yml}"
      run: bundle exec i18n-tasks health
    brakeman:
      run: bundle exec brakeman
pre-push:
  parallel: true
  scripts:
    branch_validation.sh:
      runner: bash
post-checkout: &post-checkoout
  parallel: true
  commands:
    git pull:
      run: git pull
    bundle install:
      run: bundle install
    yarn install:
      run: yarn install
post-merge: *post-checkoout
post-rewrite: *post-checkoout

Fix i18n for navbar component
  app/components/layout/navbar_component.html.haml
  config/locales/components/en.yml
  config/locales/devise/en.yml
Due: lint haml, i18n tasks

Add checkbox to formbuilder
  app/components/layout/navbar_component.html.haml
  app/helpers/tailwind_form_builder.rb
  app/helpers/tailwind_form_builder/base.rb
  app/helpers/tailwind_form_builder/checkbox.rb
  app/helpers/tailwind_form_builder/label.rb
  app/views/users/sessions/new.html.haml
  spec/components/previews/form_preview.rb
  spec/components/previews/form_preview/default.html.haml
  spec/helpers/tailwind_form_builder_spec.rb
Due: lint ruby, lint haml, i18n tasks

Add test for error label
  spec/helpers/tailwind_form_builder_spec.rb
Due: lint ruby

Rework workflows
  .github/workflows/lint.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Add build workflow
  .github/workflows/build.yml
  .github/workflows/release.yml
  Dockerfile
Due: none

Try build workflow fix
  .github/workflows/build.yml
  Dockerfile
  config/settings.yml
  config/settings/test.yml
Due: none

Try build workflow fix
  .github/workflows/release.yml
Due: none

Try build workflow fix
  .github/workflows/build.yml
  .github/workflows/release.yml
  Dockerfile
Due: none

Cleanup
  .github/workflows/release.yml
Due: none

Rework workflows (#139)
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  config/settings.yml
  config/settings/test.yml
Due: none

Change sidekiq to good_job
  Gemfile
  Gemfile.lock
  Procfile.dev
  config/application.rb
  config/initializers/good_job.rb
  config/initializers/sidekiq.rb
  config/routes.rb
  db/migrate/20230822191953_create_good_jobs.rb
  db/schema.rb
Due: lint ruby

Add good_job to active record doctor
  .active_record_doctor
Due: none

Change sidekiq to good job (#145)
  .active_record_doctor
  Gemfile
  Gemfile.lock
  Procfile.dev
  config/application.rb
  config/initializers/good_job.rb
  config/initializers/sidekiq.rb
  config/routes.rb
  db/migrate/20230822191953_create_good_jobs.rb
  db/schema.rb
Due: lint ruby

Modify dependabot
  .github/dependabot.yml
Due: none

Modify dependabot (#146)
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Add component mock helper for rspec
  spec/support/view_component.rb
Due: lint ruby

Add component mock helper for rspec (#148)
  spec/support/view_component.rb
Due: lint ruby

Add a heading component
  app/components/common/heading_component.html.haml
  app/components/common/heading_component.rb
  app/views/users/confirmations/new.html.haml
  app/views/users/passwords/edit.html.haml
  app/views/users/passwords/new.html.haml
  app/views/users/registrations/edit.html.haml
  app/views/users/registrations/new.html.haml
  app/views/users/sessions/new.html.haml
  spec/components/common/heading_component_spec.rb
  spec/components/previews/common/heading_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Add a heading component (#149)
  app/components/common/heading_component.html.haml
  app/components/common/heading_component.rb
  app/views/users/confirmations/new.html.haml
  app/views/users/passwords/edit.html.haml
  app/views/users/passwords/new.html.haml
  app/views/users/registrations/edit.html.haml
  app/views/users/registrations/new.html.haml
  app/views/users/sessions/new.html.haml
  spec/components/common/heading_component_spec.rb
  spec/components/previews/common/heading_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Add a simple link component
  app/components/common/link_component.html.haml
  app/components/common/link_component.rb
  spec/components/common/link_component_spec.rb
  spec/components/previews/common/link_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Refactor links to component
  .haml-lint.yml
  app/components/common/link_component.html.haml
  app/components/common/link_component.rb
  app/components/layout/navbar_component.html.haml
  app/views/users/shared/_links.html.haml
Due: lint ruby, lint haml, i18n tasks

Improve spec
  spec/components/common/link_component_spec.rb
Due: lint ruby

Add a simple link component (#150)
  .haml-lint.yml
  app/components/common/link_component.html.haml
  app/components/common/link_component.rb
  app/components/layout/navbar_component.html.haml
  app/views/users/shared/_links.html.haml
  spec/components/common/link_component_spec.rb
  spec/components/previews/common/link_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Improve devise form styling
  app/views/users/confirmations/new.html.haml
  app/views/users/passwords/edit.html.haml
  app/views/users/passwords/new.html.haml
  app/views/users/registrations/edit.html.haml
  app/views/users/registrations/new.html.haml
  app/views/users/sessions/new.html.haml
  config/locales/devise/en.yml
Due: lint haml, i18n tasks

Improve form styling (#151)
  app/views/users/confirmations/new.html.haml
  app/views/users/passwords/edit.html.haml
  app/views/users/passwords/new.html.haml
  app/views/users/registrations/edit.html.haml
  app/views/users/registrations/new.html.haml
  app/views/users/sessions/new.html.haml
  config/locales/devise/en.yml
Due: lint haml, i18n tasks

Rework link component types
  app/components/common/link_component.html.haml
  app/components/common/link_component.rb
  app/components/layout/navbar_component.html.haml
  app/views/users/shared/_links.html.haml
  spec/components/common/link_component_spec.rb
  spec/components/previews/common/link_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Rework link component types (#152)
  app/components/common/link_component.html.haml
  app/components/common/link_component.rb
  app/components/layout/navbar_component.html.haml
  app/views/users/shared/_links.html.haml
  spec/components/common/link_component_spec.rb
  spec/components/previews/common/link_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Add dropdown component
  app/components/common/dropdown_component.html.haml
  app/components/common/dropdown_component.rb
  app/components/common/link_component.html.haml
  spec/components/common/dropdown_component_spec.rb
  spec/components/common/link_component_spec.rb
  spec/components/previews/common/dropdown_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Add user menu to navbar
  app/components/layout/navbar_component.html.haml
  config/locales/components/en.yml
  spec/components/layout/navbar_component_spec.rb
Due: lint ruby, lint haml, i18n tasks

Add user menu to navbar (#153)
  app/components/common/dropdown_component.html.haml
  app/components/common/dropdown_component.rb
  app/components/common/link_component.html.haml
  app/components/layout/navbar_component.html.haml
  config/locales/components/en.yml
  spec/components/common/dropdown_component_spec.rb
  spec/components/common/link_component_spec.rb
  spec/components/layout/navbar_component_spec.rb
  spec/components/previews/common/dropdown_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Bump postgres version to 16.0
  .github/workflows/lint.yml
  .github/workflows/test.yml
  docker-compose.dev.yml
Due: none

Bump postgres version to 16.0 (#180)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  docker-compose.dev.yml
Due: none

Change truemail to valid_email2
  Gemfile
  Gemfile.lock
  app/models/concerns/email_validatable.rb
  app/models/user.rb
  config/initializers/truemail.rb
  spec/models/concerns/email_validatable_spec.rb
  spec/models/user_spec.rb
  spec/support/truemail.rb
  spec/support/valid_email2.rb
Due: lint ruby, i18n tasks

Change truemail to valid_email2 (#181)
  Gemfile
  Gemfile.lock
  app/models/concerns/email_validatable.rb
  app/models/user.rb
  config/initializers/truemail.rb
  spec/models/concerns/email_validatable_spec.rb
  spec/models/user_spec.rb
  spec/support/truemail.rb
  spec/support/valid_email2.rb
Due: lint ruby, i18n tasks

Change feature to system specs
  Gemfile
  Gemfile.lock
  spec/support/capybara.rb
  spec/support/database_cleaner.rb
  spec/system/sign_in_spec.rb
  spec/system/sign_up_spec.rb
Due: lint ruby
