Repository harm-matthias-harms/rails-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: lint ruby, lint haml, lint js, lint css, i18n tasks

lint ruby:
  run: bundle exec rubocop --force-exclusion {staged_files}

lint haml:
  run: bundle exec haml-lint {staged_files}

lint js:
  run: yarn lint {staged_files}

lint css:
  run: yarn lint:css {stages_files}

i18n tasks:
  run: bundle exec i18n-tasks health

Change feature to system specs (#182)
  Gemfile
  Gemfile.lock
  spec/support/capybara.rb
  spec/support/database_cleaner.rb
  spec/system/sign_in_spec.rb
  spec/system/sign_up_spec.rb
Due: lint ruby

Enable renovate for asdf
  .github/renovate.json
  .ruby-version
Due: none

Enable renovate for asdf (#183)
  .github/renovate.json
  .ruby-version
Due: none

Fix renovate schedule
  .github/renovate.json
Due: none

Fix renovate managers
  .github/renovate.json
  .github/workflows/release-drafter.yml
Due: none

Fix renovate schedule and managers (#184)
  .github/renovate.json
  .github/workflows/release-drafter.yml
Due: none

Bump redis version
  docker-compose.dev.yml
Due: none

Bump redis version (#185)
  docker-compose.dev.yml
Due: none

Add robots.txt and sitemap.xml
  public/robots.txt
  public/sitemap.xml
Due: none

Add robots.txt and sitemap.xml (#186)
  public/robots.txt
  public/sitemap.xml
Due: none

Add improved controller error handling
  app/controllers/application_controller.rb
  app/controllers/errors_controller.rb
  app/views/errors/internal_server_error.html.haml
  app/views/errors/not_found.html.haml
  config/application.rb
  config/routes.rb
  public/404.html
  public/422.html
  public/500.html
  spec/requests/application_controller_spec.rb
  spec/requests/errors_spec.rb
Due: lint ruby, lint haml, i18n tasks

Add improved controller error handling (#187)
  app/controllers/application_controller.rb
  app/controllers/errors_controller.rb
  app/views/errors/internal_server_error.html.haml
  app/views/errors/not_found.html.haml
  config/application.rb
  config/routes.rb
  public/404.html
  public/422.html
  public/500.html
  spec/requests/application_controller_spec.rb
  spec/requests/errors_spec.rb
Due: lint ruby, lint haml, i18n tasks

Add simple paragraph component
  app/components/common/paragraph_component.html.haml
  app/components/common/paragraph_component.rb
  app/views/errors/internal_server_error.html.haml
  app/views/errors/not_found.html.haml
  spec/components/common/paragraph_component_spec.rb
  spec/components/previews/common/paragraph_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Add simple paragraph component (#188)
  app/components/common/paragraph_component.html.haml
  app/components/common/paragraph_component.rb
  app/views/errors/internal_server_error.html.haml
  app/views/errors/not_found.html.haml
  spec/components/common/paragraph_component_spec.rb
  spec/components/previews/common/paragraph_component_preview.rb
Due: lint ruby, lint haml, i18n tasks

Add healthcheck
  Dockerfile
  Gemfile
  Gemfile.lock
  config/initializers/healthcheck.rb
  config/routes.rb
Due: lint ruby

Add healthcheck (#189)
  Dockerfile
  Gemfile
  Gemfile.lock
  config/initializers/healthcheck.rb
  config/routes.rb
Due: lint ruby

Add database cleaner back
  Gemfile
  Gemfile.lock
  spec/support/database_cleaner.rb
Due: lint ruby

Add database cleaner back (#190)
  Gemfile
  Gemfile.lock
  spec/support/database_cleaner.rb
Due: lint ruby

Enable yjit and jemalloc
  Dockerfile
Due: none

Add goldiloader
  Gemfile
  Gemfile.lock
Due: none

Enable yjit and jemalloc (#191)
  Dockerfile
Due: none

Add goldiloader (#192)
  Gemfile
  Gemfile.lock
Due: none

Fix lint
  spec/components/common/dropdown_component_spec.rb
  spec/components/common/link_component_spec.rb
  spec/components/layout/notification_component_spec.rb
Due: lint ruby

Enable redis cache store
  config/environments/development.rb
  config/environments/production.rb
Due: lint ruby

Add markdown renderer and legal pages markdown template.
  Gemfile
  Gemfile.lock
  app/controllers/home_controller.rb
  app/views/home/legal_notice.html.md
  app/views/home/privacy_policy.html.md
  app/views/home/terms_of_service.html.md
  config/initializers/markdown_renderer.rb
  config/routes.rb
  package.json
  spec/requests/home_controller_spec.rb
  tailwind.config.js
  yarn.lock
Due: lint ruby, lint js, i18n tasks

Add a fake legal notice text
  app/views/home/legal_notice.html.md
Due: none

Add some fake content to legal sites
  README.md
  app/controllers/home_controller.rb
  app/views/home/imprint.md
  app/views/home/privacy_policy.html.md
  app/views/home/terms_of_service.html.md
  config/routes.rb
  spec/requests/home_controller_spec.rb
Due: lint ruby, i18n tasks

Update config/initializers/markdown_renderer.rb
  config/initializers/markdown_renderer.rb
Due: lint ruby

Enable seeds by environment
  db/seeds.rb
  db/seeds/development.rb
  db/seeds/production.rb
  db/seeds/test.rb
Due: lint ruby

Add legal pages as markdown (#204)
  Gemfile
  Gemfile.lock
  README.md
  app/controllers/home_controller.rb
  app/views/home/imprint.md
  app/views/home/privacy_policy.html.md
  app/views/home/terms_of_service.html.md
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/markdown_renderer.rb
  config/routes.rb
  package.json
  spec/requests/home_controller_spec.rb
  tailwind.config.js
  yarn.lock
Due: lint ruby, lint js, i18n tasks

Enable seeds by environment (#205)
  db/seeds.rb
  db/seeds/development.rb
  db/seeds/production.rb
  db/seeds/test.rb
Due: lint ruby

Add simple consent model
  app/models/consent.rb
  app/models/user.rb
  db/migrate/20230924060331_create_consents.rb
  db/schema.rb
  spec/factories/consents.rb
  spec/models/consent_spec.rb
Due: lint ruby, i18n tasks

Modify factory
  spec/factories/consents.rb
Due: lint ruby

Add consent to devise controller
  app/controllers/application_controller.rb
  app/controllers/concerns/deviseable.rb
  app/models/consent.rb
  app/models/user.rb
  db/migrate/20230924060331_create_consents.rb
  db/schema.rb
  spec/factories/consents.rb
  spec/models/consent_spec.rb
  spec/models/user_spec.rb
  spec/system/sign_up_spec.rb
Due: lint ruby, i18n tasks

Add consent to user form
  app/controllers/concerns/deviseable.rb
  app/helpers/tailwind_form_builder/label.rb
  app/views/users/registrations/new.html.haml
  config/locales/models/en.yml
  spec/system/sign_up_spec.rb
Due: lint ruby, lint haml, i18n tasks

Improve user spec
  spec/models/user_spec.rb
Due: lint ruby

Fix lints
  app/models/consent.rb
  app/models/user.rb
  spec/models/consent_spec.rb
Due: lint ruby, i18n tasks

Fix lints
  app/models/consent.rb
  db/migrate/20230924060331_create_consents.rb
  db/schema.rb
  spec/factories/consents.rb
  spec/models/consent_spec.rb
  spec/models/user_spec.rb
Due: lint ruby, i18n tasks

Store user consent to privacy policy and terms of service (#206)
  app/controllers/application_controller.rb
  app/controllers/concerns/deviseable.rb
  app/helpers/tailwind_form_builder/label.rb
  app/models/consent.rb
  app/models/user.rb
  app/views/users/registrations/new.html.haml
  config/locales/models/en.yml
  db/migrate/20230924060331_create_consents.rb
  db/schema.rb
  spec/factories/consents.rb
  spec/models/consent_spec.rb
  spec/models/user_spec.rb
  spec/system/sign_up_spec.rb
Due: lint ruby, lint haml, i18n tasks

Cleanup storage config
  config/initializers/config.rb
  config/settings.yml
  config/storage.yml
Due: lint ruby

Path conditions:
  lint ruby: any of: *.rb
  lint haml: any of: *.haml
  lint js: any of: *.js
  lint css: any of: *.pcss
  i18n tasks: any of: {app,config/locales}/**/*.{haml,rb,yml}
